@model IEnumerable<BEWebTopZone.Models.Picture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PictureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PictureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PictureID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PictureID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PictureID })
        </td>
    </tr>
}

</table>
